/* Reset*/
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Main Styling */
html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration: none;
}

a{
    color: #333;
    text-decoration: none;
}

h1, h2, h3{
    padding-bottom: 20px;
}
p { 
    margin: 10px 0;
}

/* Utility Classes*/
.container {
    margin:auto; /* To make the text centre in the middle*/ 
    max-width: 1100px;
    overflow: auto; /*To always show the background*/
    padding: 0 20px;
}
.text-primary {
    color: white;
}
.lead{
    font-size: 20px;
}
.curly {
    font-family: 'Pacifico', cursive;
    font-size:25px;
}

/* Navbar */
#navbar { 
    background: #fff;
    color: #fff;
    overflow: auto; /* show that the background shows no matter what*/
}

#navbar a {
    color: #fff;
}
#navbar .logo {
    float: left;
    width:200px
}
#navbar ul { 
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;  /*By default floating items in a list makes them in-line */  
}

#navbar ul li a {
    font-size: 20px;
    color: #777;
    display: block;
    padding: 55px 30px 0px 30px;
    text-align: center;
}
#navbar ul li a:hover,#navbar ul li a.current {
    text-decoration: underline;
    color: #FFA500;

}

/*Showcase*/
#showcase {
    background-image:url("../img/fruit-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    opacity: 0.8;
    height: 600px;
}
#showcase .showcase-content{
color: #fff;
text-align: center;
padding-top: 170px;
}
h1 { 
    font-size: 60px;
    line-height: 1.2em;
}
#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}
.btn{
    display: inline-block;
    font-size:18px;
    color: #f8c08a;
    background: none;
    padding: 13px 20px;
    border: #f8c08a 2px solid;
    cursor: pointer;
}

.btn:hover {
    background:none;
    border: white solid;
    color: white;
}
#our-promise { 
    height: 700px;
}
#our-promise .promise-info{
    text-align: center;
    background: #fff;
    overflow: auto; 
}
#our-promise .box{
    width: 33.3%;
    float: left;
    text-align: center;
    padding: 50px;
    line-height: 2.5em;
}
#our-promise .box:hover { 
    color: orange;
}
#our-promise .box p { 
    font-size: 50px;
}

#footer { 
    /* Think about a background color*/
}

#footer .contactInfo { 
    width:30%;
    padding: 0;
    line-height: 2.5em;

}
/*Remem to figure out why the 30% does not take the first 30% of the page*/
#footer .contactInfo-icon{
    padding: 0;
    float: left;
    width: 15%;
    text-align: center;

}
#footer .contactInfo-text{
    float: left;
    width: 75%;
}